<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= paginate @benhnhans_paging %>

<div class="btn" style="float: right">
	<a href="/benhnhans/new"><%= t('add_more_patient')%></a>
</div>
<% unless @benhnhans%>
<div>
	Table empty!
</div>
<%else%>
<table class="table table-hover">
	<tr >
		<th><a href="#">id</a></th>
		<th><%= sortable "ten_benh_nhan",t('names')%></th>
		<th><%= sortable "dia_chi", t('address')%></th>
		<th><%= sortable "so_dien_thoai",t('phone_number') %></th>
		<th><%= sortable "benh_an", "Benh an" %></th>
		<th colspan="2"><%= t ('edit')%></th>

	</tr>

	<% @benhnhans.each_with_index do |benhnhans,index|%>
	<tr class="success">
		<td> <%= index +1%> </td>
		<td> <%= benhnhans.ten_benh_nhan%> </td>
		<td> <%= benhnhans.dia_chi%>  </td/> <td> <%= benhnhans.so_dien_thoai%> </td>
		<td> <%= benhnhans.benh_an%> </td>
		<td><a href="/benhnhans/edit/<%= benhnhans.id%>"><i class="icon-pencil"></i></a></td>
		<td class="close_bn"><a href="/benhnhans/delete/<%= benhnhans.id%>"><i class="icon-trash"></i></a></td>
	</tr>
	<%end%>
</table>
<%end%>

<!-- delete  -->
<script>
	$('.close_bn').click(function() {
		var del = confirm("có muốn xóa không em?")
		if (del == true) {

		} else
			return false;
	}); 
</script>

