<div class="btn" style="float: right">
	<a href="/benhnhans/new"><%= t('add_more_patient')%></a>
</div>
<% unless @benhnhans%>
<div>
	Table empty!
</div>
<%else%>
<table class="table table-hover">
	<tr >
		<th><%= t ('numbers')%></th>
		<th> <%= t ('name')%> </th>
		<th> <%= t ('address')%></th>
		<th><%= t ('phone_number')%> </th>
		<th> <%= t ('disease')%> </th>
		<th colspan="2"><%= t ('edit')%></th>

	</tr>

	<% @benhnhans.each do |benhnhans|%>
	<tr class="success">
		<td> <%= benhnhans.id%> </td>
		<td> <%= benhnhans.ten_benh_nhan%> </td>
		<td> <%= benhnhans.dia_chi%>  </td/> <td> <%= benhnhans.so_dien_thoai%> </td>
		<td> <%= benhnhans.benh_an%> </td>
		<td><a href="/benhnhans/edit/<%= benhnhans.id%>"><i class="icon-pencil"></i></a></td>
		<td class="close_bn"><a href="/benhnhans/delete/<%= benhnhans.id%>"><i class="icon-trash"></i></a></td>
	</tr>
	<%end%>
</table>
<%end%>

<!-- delete  -->
<script>
	$('.close_bn').click(function() {
		var del = confirm("có muốn xóa không em?")
		if (del == true) {

		} else
			return false;
	}); 
</script>

