<div class="btn" style="float: right">
	<%= link_to "Tạo mới bệnh nhân", :controller => "benhnhans", :action => "new"%>
</div>
<% unless @benhnhans%>
<div>
	Table empty!
</div>
<%else%>
<table class="table table-hover">
	<tr >
		<th>Số thứ tự</th>
		<th> Tên bệnh nhân </th>
		<th> Địa chỉ </th>
		<th> Số điện thoại </th>
		<th> Bệnh án </th>
		<th colspan="2">Chỉnh sửa</th>
		
	</tr>

	<% @benhnhans.each do |benhnhans|%>
	<tr class="success">
    <td> <%=benhnhans.id%> </td>
		<td> <%= benhnhans.ten_benh_nhan%> </td>
		<td> <%= benhnhans.dia_chi%>  </td/>
	  <td> <%= benhnhans.so_dien_thoai%> </td>
		<td> <%= benhnhans.benh_an%> </td>
		<td><a href="/benhnhans/edit/<%= benhnhans.id%>"><i class="icon-pencil"></i></a></td>
		<td class="close_bn"><a href="/benhnhans/delete/<%= benhnhans.id%>"><i class="icon-trash"></i></a></td>

	</tr>
	<%end%>

</table>

<%end%>
<script>
	$('.close_bn').click(function() {
		var del = confirm("có muốn xóa không em?")
		if (del == true) {

		} else
			return false;
	}); 
</script>

