<div style="margin-left: 500px">
<%= form_for @benhnhan ,:url => "/benhnhans/#{@benhnhan.id}/update",:method => 'post' do |f| %>

  <p style="display: inline-block"><%= f.label :ten_benh_nhan %></p>
  <%= f.text_field :ten_benh_nhan %> <br />
	
  <p style="display: inline-block"><%= f.label :dia_chi %></span></p>
  <span style="margin-left: 40pt"><%= f.text_field :dia_chi %><br />

  <p style="display: inline-block"><%= f.label :so_dien_thoai %> </p>
  <span style="margin-left: 10pt"><%= f.text_field :so_dien_thoai %></span><br />
   
  <p><%= f.label :benh_an %></p>
  <span style="margin-left: 75pt"><%= f.text_area :benh_an %></span></br>
  
  <%= f.submit%>
<% end %>
</div>

