<!DOCTYPE html>
<html>
<head>
  <title>manager patient</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
	 <link rel="stylesheet" href="/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css">
</head>
<body>
	<p id="notice" style="color:red"><%= flash[:notice] %></p>

<%= yield %>
</body>
<footer style="text-align: center">
<address>
Email: <a href="vietnd@ithanoi.com">vietnd@ithanoi.com</a><br />
Name: Duc Viet Ngo<br />
Phone: 84 912 960 535
</address>
</footer>

</html>
